body.lock{
    overflow: hidden;
}
.popup {
    visibility: hidden;
    position: fixed;
    pointer-events: none;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: rgba(41, 48, 61, 0.2);
    backdrop-filter: blur(2px);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.8s ease 0s;

    &.open {
        opacity: 1;
        visibility: visible;
        pointer-events: all;

        .popup__content {
            transform: scale(1);
            opacity: 1;
        }
    }

    &__body {
        min-height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 30px 10px;
        transition: all 0.8s ease 0s;
    }

    &__content {
        padding: 60px 15px;
        overflow-x: hidden;
        background-color: $lemon;
        width: 414px;
        height: auto;
        position: relative;
        transition: all 0.8s ease 0s;
        opacity: 0;
        transform: scale(0.7);
    }

    @media screen and (min-width: $tablet) {
      &__content {
        width: 712px;
      }
    }



    &__title {
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.05em;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    margin-bottom: 40px;
    }

    @media screen and (min-width: $tablet) {
      &__title {
        font-size: 40px;
        line-height: 1.15;
      }
    }


    &__close {
        position: absolute;
        right: 24px;
        top: 16px;
        width: 24px;
        height: 24px;
        border-color: transparent;
        background-color: $lemon;
    } 
    &__cross{
      max-width: 24px;
    }
    &__type{
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.166;
    letter-spacing: 0.05em;
    color: $placeholder-color;
    margin-bottom: 28px;
    }
    &__category{
    color: $brown;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    margin-bottom: 20px;
    }
}



.form {
  z-index: 999;
  width: 384px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;

  @media screen and (min-width: $tablet) {
    & {
      font-size: 24px;
      line-height: 1.166;
      width: 592px;
      display: flex;
      flex-wrap: wrap;
      gap: 16px;
    }
  }

  &__field {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    position: relative;
  }


  &__field:nth-child(4) {
    margin-bottom: 40px;
  }

  &__input {
    color: $placeholder-color;
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    width: 100%;
    letter-spacing: 0.05em;
    margin-top: 0;
    margin-bottom: 0;
    height: 54px;
    border: 1px solid $brown;
    background-color: $lemon;
    border-radius: 4px;
    padding-left: 12px;
  }

  @media screen and (min-width: $tablet) {
    &__input {
      font-size: 24px;
      line-height: 1.166;
      width: 288px;
      height: 64px;
    }
  }

  &__input:focus, &__input:hover {
    outline: 0;
  }

  &__input::placeholder {
    color: $placeholder-color;
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.05em;
  }
  @media screen and (min-width: $tablet) {
    &__input::placeholder {
      font-size: 24px;
      line-height: 1.166;
    }
  }

  
  &__label {
    margin-top: 8px;
    padding-left: 12px;
    color: $brown;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.21;
    letter-spacing: 0.02em;
  }

  @media screen and (min-width: $tablet) {
    &__label {
      font-size: 16px;
      line-height: 1.25;
    }
  }
  
  &__select{
    margin-top: 0;
    margin-bottom: 0;
    height: 54px;
    border: 1px solid $brown;
    background-color: $lemon;
    border-radius: 4px;
    padding-left: 12px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: $placeholder-color;
    font-family: 'Times New Roman';
    font-style: normal;
    width: 100%;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.05em;
  }

  @media screen and (min-width: $tablet) {
    &__select {
      font-size: 24px;
      line-height: 1.166;
      width: 288px;
      height: 64px;
    }
  }

  &__select:focus, &__select:hover {
    outline: 0;
  }

  &__button {
    display: flex;
    color: $white;
    background-color: $black;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    border-radius: 2px;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 64px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    border: 1px solid $accent-yellow;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  @media screen and (min-width: $tablet) {
    &__button {
      font-size: 24px;
      line-height: 1.21;
    }
  }
  &__button:hover,
  &__button:focus {
  background-color: $accent-yellow;
  color: $black;
  }

  &__button-price {
    margin-top: 40px;
    display: flex;
    color: $white;
    background-color: $black;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    border-radius: 2px;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 64px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    border: 1px solid $accent-yellow;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__button-price:hover,
  &__button-price:focus {
  background-color: $accent-yellow;
  color: $black;
  }
}