<section class="section hero">
    <div class="container">
        <h1 class="section-title">Кнопки виклику модалок</h1>
        <div class="flex-box">
            <a href="#" data-popup-btn="booking__table" class="popup-link">Забронювати столик</a>
            <button type="button" data-popup-btn="booking__table" class="popup-link">Забронювати столик</button>

            <a href="#" data-popup-btn="booking__room" class="popup-link">Забронювати номер</a>
            <button type="button" data-popup-btn="booking__room" class="popup-link">Забронювати номер</button>

            <a href="#" data-popup-btn="booking__price" class="popup-link">Переглянути ціни</a>
            <button type="button" data-popup-btn="booking__price" class="popup-link">Переглянути ціни</button>
        </div>
    </div>
</section>