<div data-popup-target="booking__table" class="popup">
    <div class="popup__body">
        <div class="popup__content">
        <button type="button" class="popup__close close-popup"><svg class="popup__close-icon" width="18" height="18">
         <use href=./images/modal-icon.svg#icon-close-button/></use>
         </svg></button>
            <div class="popup__title">Забронювати столик</div>
          <button class="form__button" type="submit">Відправити</button>
        </form>
        </div> 
        </div>
    </div>
</div>
<div data-popup-target="booking__room" class="popup">
    <div class="popup__body">
        <div class="popup__content">
            <button type="button" class="popup__close close-popup">X</button>
            <div class="popup__title"><strong>Забронювати номер</strong></div>
            <div class="popup__text">
                ipsum dolor sit amet consectetur adipisicing elit.
                Aut enim vero veritatis velit assumenda soluta sed ad, omnis alias placeat debitis voluptas ea ipsam
                dolorum error dolorem, a blanditiis! Quidem!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut enim vero veritatis velit assumenda soluta
                sed ad, omnis alias placeat debitis voluptas ea ipsam dolorum error dolorem, a blanditiis! Quidem!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut enim vero veritatis velit assumenda soluta
                sed ad, omnis alias placeat debitis voluptas ea ipsam dolorum error dolorem, a blanditiis! Quidem!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut enim vero veritatis velit assumenda soluta
                sed ad, omnis alias placeat debitis voluptas ea ipsam dolorum error dolorem, a blanditiis! Quidem!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut enim vero veritatis velit assumenda soluta
                sed ad, omnis alias placeat debitis voluptas ea ipsam dolorum error dolorem, a blanditiis! Quidem!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut enim vero veritatis velit assumenda soluta
                sed ad, omnis alias placeat debitis voluptas ea ipsam dolorum error dolorem, a blanditiis! Quidem!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut enim vero veritatis velit assumenda soluta
                sed ad, omnis alias placeat debitis voluptas ea ipsam dolorum error dolorem, a blanditiis! Quidem!
            </div>
        </div>
    </div>
</div>
<div data-popup-target="booking__price" class="popup">
    <div class="popup__body">
        <div class="popup__content">
            <button type="button" class="popup__close close-popup">X</button>
            <div class="popup__title"><strong>Переглянути ціни</strong></div>
            <div class="popup__text">
                ipsum dolor sit amet consectetur adipisicing elit.
                Aut enim vero veritatis velit assumenda soluta sed ad, omnis alias placeat debitis voluptas ea ipsam
                dolorum error dolorem, a blanditiis! Quidem!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut enim vero veritatis velit assumenda soluta
                sed ad, omnis alias placeat debitis voluptas ea ipsam dolorum error dolorem, a blanditiis! Quidem!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut enim vero veritatis velit assumenda soluta
                sed ad, omnis alias placeat debitis voluptas ea ipsam dolorum error dolorem, a blanditiis! Quidem!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut enim vero veritatis velit assumenda soluta
                sed ad, omnis alias placeat debitis voluptas ea ipsam dolorum error dolorem, a blanditiis! Quidem!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut enim vero veritatis velit assumenda soluta
                sed ad, omnis alias placeat debitis voluptas ea ipsam dolorum error dolorem, a blanditiis! Quidem!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut enim vero veritatis velit assumenda soluta
                sed ad, omnis alias placeat debitis voluptas ea ipsam dolorum error dolorem, a blanditiis! Quidem!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut enim vero veritatis velit assumenda soluta
                sed ad, omnis alias placeat debitis voluptas ea ipsam dolorum error dolorem, a blanditiis! Quidem!
            </div>
        </div>
    </div>
</div>